<div class="product-listy">
    <h2>Infos Compte</h2>
    <ul class="product-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
        </li>
        <li>
            <a href="{{ path('factures') }}">Mes factures</a>
        </li>
        <li>
            <a href="{{ path('favoris_show', { 'id': 4 }) }}">Mes favoris</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
        </li>
    </ul>
</div>