{% extends "::layout/base.html.twig" %}
{% block buy %}
    <div class="banner">
        <div class="container">
            <div class="banner-bottom">
                <div class="banner-bottom-left">
                    <h2>E<br>S<br>H<br>O<br>P</h2>
                </div>
                <div class="banner-bottom-right">
                    <div  class="callbacks_container">
                        <ul class="rslides" id="slider4">

                            <li>
                                <div class="banner-info">
                                    <h3>Bienvenue</h3>
                                    <p>Commencez vos achats ici...</p>
                                </div>								
                            </li>
                            <li>
                                <div class="banner-info">
                                    <h3>Chez Nous</h3>
                                    <p>Commencez vos achats ici...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--banner-->
                    <script src="{{ asset('bundles/EcommerceBundle/js/responsiveslides.min.js')}}"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager: true,
                                nav: false,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
                    </script>
                </div>
                <div class="clearfix"> </div>

            </div>
            <div class="shop">
                <a href="{{ ('produits') }}">NOTRE BOUTIQUE</a>
            </div>
        </div>
    </div>

{% endblock %}
{% block body %}
    <link href="{{ asset('bundles/EcommerceBundle/css/component.css') }}" rel='stylesheet' type='text/css' />
    <!-- content-section-starts-here -->
    <div class="container">
        <div class="main-content">
            <div class="products-grid">
                <header>
                    <h3 class="head text-center">Top Produits</h3>
                </header>
                {% if produits|length != 0 %}
                    {% for produit in produits %}
                        <div class="col-md-4 product simpleCart_shelfItem text-center">
                            <a href="{{ path('presentation', { 'id' : produit.id }) }}"><img src="{{ produit.image.AssetPath|imagine_filter('produit') }}" alt="" /></a>
                            <div class="mask">
                                <a href="{{ path('presentation', { 'id' : produit.id }) }}">Fiche Technique</a>
                            </div>
                            <a class="product_name" href="{{ path('presentation', { 'id' : produit.id }) }}">{{ produit.nom }}</a>
                            {% if panier[produit.id] is not defined %}
                                <p><a class="item_add" href="{{ path('ajouter', { 'id' : produit.id }) }}"><i></i> <span class="item_price">{{ produit.prix }} DT</span></a></p>
                                        {% else %}
                                <p> <span class="item_price">{{ produit.prix }} DT</span></p>

                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="clearfix"></div>
                    <script src={{ asset('bundles/EcommerceBundle/js/cbpViewModeSwitch.js')}} type="text/javascript"></script>
                    <script src={{ asset('bundles/EcommerceBundle/js/classie.js')}} type="text/javascript"></script>

                </div>
            </div>
        </div>
        {% if catalogue|length != 0 %}                      
            <div class="other-products">
                <div class="container">
                    <h3 class="like text-center">Nouvelle Collection</h3>        			
                    <ul id="flexiselDemo3">
                        {% for produit in catalogue %}
                            <li><a href="{{ path('presentation', { 'id' : produit.id }) }}">
                                    <div class="thumb-image"> <img src="{{ produit.image.AssetPath|imagine_filter('produit') }}" data-imagezoom="true" class="img-responsive" alt="{{ produit.image.name }}" /> 
                                    </div>   </a>
                                <div class="product liked-product simpleCart_shelfItem">
                                    <a class="like_name" href="{{ path('presentation', { 'id' : produit.id }) }}">{{ produit.nom }}</a>
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">{{ produit.prix }} DT</span></a></p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 4,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                    </script>
                    <script type="text/javascript" src="{{ asset('bundles/EcommerceBundle/js/jquery.flexisel.js') }}"></script>
                </div>
            </div>
        {% endif %}
    {% else %}
        Aucun produit
    {% endif %}
{% endblock %}
