{% extends "::layout/base.html.twig" %}
{% block body %}
 <link href={{asset('css/comment.css')}} rel="stylesheet" type="text/css" media="all" />
   


<div class="" align="center">
    {{ form_errors(form) }}
    <form id="validate" class="form-horizontal" method="post" action="{{path('commentairesujet_create',{'sujet':sujet.id})}}">
       
        <!-- Form validation -->
       
	
   
                {{ sujet.titre }}
            
      Sujet   
              {{ sujet.sujet|raw}}
</div>
             <div class="row">
           <div class="col-lg-8 col-sm-8 col-xs-12">
    
    <hr>
    {% for entity in entities %}
    <ul class="media-list comments">
      <li class="media">
        <a class="pull-left" href="#">
        <img class="media-object img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png" width="64" alt="Generic placeholder image">
        </a>
        <div class="media-body">
          <h5 class="media-heading pull-left">{{ entity.user.username }}</h5>
          <div class="comment-info pull-left">
            <div class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Sent from ***0.0.1"><i class="fa fa-user"></i></div>
            <div class="btn btn-primary btn-xs"><a class="fa fa-envelope white" href="mailto:loneswan@loneswan.net"></a></div>
            <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i>   </div>
          </div>
          <br class="clearfix">
          <p class="well">{{ entity.commentaire }}</p>
          {% if entity.user.id == utilisateur.id %}
              <a href="{{path('commentairesujet_delete',{'id':entity.id})}}">Supprimer</a>
        </div>
      </li>
      {% endif %}  
             {% endfor %}
      
      
    </ul>
  </div>
</div>  
           
          <div class="control-group">
            <label class="control-label">Commentaire<span class="text-error">*</span></label>
            <div class="controls">             
                       {{ form_widget(form.commentaire)}}
                
            </div>
        </div>                     
                       
        <div class="form-actions align-right">
            <button type="submit" class="btn btn-info">Valider</button>

        </div>
        
    </div>
  </div>
	              
        </fieldset>
</form>

</div>
{% endblock %}
