{% extends "::layout/base.html.twig" %}

{% block body %}
    <h1>Liste Des Sujets</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Sujet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sujet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.sujet }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sujet_show', { 'id': entity.id }) }}">Afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('sujet_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sujet_new') }}">
                Ajouter nouveau sujet
            </a>
        </li>
    </ul>
    {% endblock %}
