{% extends "::layout/base.html.twig" %}

{% block body %}
    <h1>Liste Des Emails</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Sujet</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mail_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.sujet }}</td>
                <td>{{ entity.message }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mail_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
