{% extends "::layout/base.html.twig" %}

{% block body -%}
    <h1>Liste Des Commentaires</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Corps</th>
                <th>Datecom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('commentaire_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.corps }}</td>
                <td>{% if entity.datecom %}{{ entity.datecom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('commentaire_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('commentaire_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('commentaire_create', { 'id': entity.id }) }}">
                Commenter
            </a>
        </li>
    </ul>
    {% endblock %}
